
{{define "content"}}
<script src="https://unpkg.com/vue@3"></script>
<h1>Hi</h1>
<div id="app">
	{{"{{farts}}"}}<button v-on:click="JoinLeaveQueue(!this.inQueue)">{{"{{inQueueMessage()}}"}}</button>
	<br>
	<ul>
		<li v-for="value of serverQueue">
			{{"{{value}}"}}
		</li>
	</ul>
</div>
<script>
/*let ws = new WebSocket("ws://localhost:8080/websock") <!--Note: use wss when using TLS -->

ws.onopen = function(event) {
	console.log("Connection established");
	ws.send("Heyyy ;)");
};

ws.onmessage = function(event) {
	console.log(`Received: ${event.data}`);
};

ws.onclose = function(event) {

};

ws.onerror = function(event) {
	console.log(`ws err: ${event.message}`);
}*/

const app = Vue.createApp({
	data() {
		return {
			farts: "--->",
			socket: null, //shoutout https://github.com/NerdCademyDev/golang/blob/main/09_web_sockets/client/src/App.vue
			inQueue: false, //at some point I should implement pinging the server in mounted() to confirm
			serverQueue: []
		}
	},
	mounted() { //lifecycle hook 
		console.log("Mounting", this)
		this.socket = new WebSocket("ws://localhost:8080/websock")
		this.socket.onopen = () => console.log("ws Connection established")
		this.socket.onclose = function(event) {
			if (event.wasClean) {
				console.log(`ws Connection closed, code=${event.code} reason=${event.reason}`);
			} else {
				console.log("ws Connection died");
			}
		}
		this.socket.onerror = (error) => console.log(`ws err: ${error.message}`)
		this.socket.onmessage = (event) => {
			let data = JSON.parse(event.data)
			console.log(`Received ${event.data}, ${data.type}.`, this)

			if (data.type == "AckQueue") { //{type: "AckQueue", queue: {steamids: {queue info}} the queue map will eventually be changed to a list
				let ids = Object.keys(data.queue) //this line should become deprecated before production, i.e. let ids = data.queue
				this.inQueue = data.isInQueue
				this.serverQueue = ids
			}
		}
	},
	methods: {
		JoinLeaveQueue(joining) {
			console.log("Sending QUpdate", joining)
			this.socket.send(JSON.stringify({type: "QueueUpdate", payload: {joining: joining}}))
		},
		inQueueMessage() {
			return this.inQueue ? "Unadd" : "Add Up"
		}
	}
})

app.mount("#app")

</script>
{{end}}
