
{{define "content"}}
<script src="https://unpkg.com/vue@3"></script>
<h1>Hi</h1>
<div id="app">
	<div v-if="!loggedIn">
		<h3>You're not logged in!</h3>
		<a href="/login?redirect=queue"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/english/sits_small.png"/></a>
	</div>
	<div v-else>
	{{/*A quick Go comment for templating: Since Go and Vue both use curly braces, you're going to have to place your vue content in a string inside the Go braces*/}}
	{{"{{arrow}}"}}<button v-on:click="JoinLeaveQueue(!this.inQueue)">{{"{{inQueueMessage()}}"}}</button>
	<br>
	<br>
	<button v-on:click="NewMatch()">Test match</button>
	<br>
	<br>
	</div>
	<h2>Queue</h2>
	<ul>
		<li v-for="value of serverQueue">
			{{"{{value}}"}}
		</li>
	</ul>
</div>
<script>
const app = Vue.createApp({
	data() {
		return {
			arrow: "--->",
			socket: null, //shoutout https://github.com/NerdCademyDev/golang/blob/main/09_web_sockets/client/src/App.vue
			inQueue: false, //at some point I should implement pinging the server in mounted() to confirm
			serverQueue: [],
			loggedIn: {{.loggedIn}}, //Receive loggedIn variable from Go server
		}
	},
	mounted() { //lifecycle hook 
		console.log("Mounting", this)
		this.socket = new WebSocket("ws://{{.wsHost}}:{{.wsPort}}/websock")
		this.socket.onopen = () => console.log("ws Connection established")
		this.socket.onclose = function(event) {
			if (event.wasClean) {
				console.log(`ws Connection closed, code=${event.code} reason=${event.reason}`);
			} else {
				console.log("ws Connection died");
			}
		}
		this.socket.onerror = (error) => console.log(`ws err: ${error.message}`)
		this.socket.onmessage = (event) => {
			let data = JSON.parse(event.data)
			console.log(`Received ${event.data}, ${data.type}.`, this)

			if (data.type == "AckQueue") { //{type: "AckQueue", queue: {steamids: {queue info}} the queue map will eventually be changed to a list
				let ids = Object.keys(data.queue) //this line should become deprecated before production, i.e. let ids = data.queue
				this.inQueue = data.isInQueue
				this.serverQueue = ids
			}
		}
	},
	methods: {
		JoinLeaveQueue(joining) {
			console.log("Sending QUpdate", joining)
			this.socket.send(JSON.stringify({type: "QueueUpdate", payload: {joining: joining}}))
		},
		inQueueMessage() {
			return this.inQueue ? "Unadd" : "Add Up"
		},
		NewMatch() {
			this.socket.send(JSON.stringify({type: "TestMatch", payload: {}}))
		}
	}
})

app.mount("#app")

</script>
{{end}}
