services:
  db:
    image: "mariadb:latest"
    volumes:
      - db-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MARIADB_ROOT_USER: root
      MARIADB_ROOT_PASSWORD: xxXXxxXX
    ports:
      - "3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 10s
      retries: 1

  web:
    build:
      context: ../                          #Use build context above this folder
      dockerfile: docker/Dockerfile_mgeme   #Route from build context to the dockerfile
    image: "mgeme"                          #When image and build are both specified, build builds to the image name. (image can be used without a build option to use a prebuilt image)
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - ./mgeme_config/:/mgeme/config/
    container_name: "mgeme"

volumes:
  db-data:
